[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
jinja2 = "*"
aiofiles = "*"
databases = {extras = ["sqlite"], version = "*"}
bcrypt = "*"
pillow = "*"
gunicorn = "*"
uvicorn = {extras = ["standard"], version = "*"}
filetype = "*"
setproctitle = "*"
asynctempfile = "*"

[dev-packages]

[requires]
python_version = "3.9"
