[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
jinja2 = "*"
databases = {extras = ["sqlite"], version = "*"}
pillow = "*"
gunicorn = "*"
python-magic = "*"
bcrypt = "*"
aiofiles = "*"
sqlalchemy = "*"
uvicorn = "*"
hypercorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
