<html prefix="og: http://ogp.me/ns# article: https://ogp.me/ns/article">
  <head>
    <meta name="robots" content="noindex">
    <title>{{user.username}} - on Iamages</title>
    <meta name="description" content="View {{user.username}}'s profile on Iamages">
    <meta name="author" content="{{user.username}}">
    <meta property="og:type" content="profile">
    <meta property="og:site_name" content="Iamages">
    <meta property="og:title" content="{{user.username}}">
    <meta property="og:description" content="View {{user.username}}'s profile on Iamages">
    <meta property="og:url" content="{{ url_for('embed_user', username=user.username) }}">
    <meta property="profile:username" content="{{user.username}}">
    <meta name="twitter:card" content="summary">
    <meta name="apple-itunes-app" content="app-id=1611306062, app-argument=iamages://view?type=user&id={{ user.username }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#F1965B">
    <link rel="icon" type="image/png" href="{{ url_for('static', path='/icons/iamages-icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bulma.min.css') }}">
  </head>
  <body>
    <section class="hero is-fullheight">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="{{ url_for('embed_user', username=user.username) }}">
                <img src="{{ url_for('static', path='/icons/iamages-icon.png') }}" width="28" height="28">
              </a>
              <a class="navbar-item" href="{{ url_for('embed_user', username=user.username) }}">
                Embed Viewer&nbsp/&nbsp<b>{{user.username}}</b>
              </a>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-centered is-vcentered">
            <div class="column is-half">
              {% for file in files %}
                <div class="card">
                  <div class="card-image">
                    <figure class="image">
                      <img src="{{ url_for('thumb', id=file.id) }}" alt="Thumbnail for: {{file.description}}">
                    </figure>
                  </div>
                  <div class="card-content has-text-left">
                    <a href="{{ url_for('embed_file', id=file.id) }}" target="_blank">{{ file.description }}</a>
                  </div>  
                </div>
                <br>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot">
        <section class="section">
          <div class="container has-text-centered content">
            <p>
              By using this service, you agree to our <a href="{{ url_for('tos') }}" target="_blank">Terms of Service</a> and 
              <a href="{{ url_for('privacy') }}" target="_blank">Privacy Policy</a>
            </p>
          </div>
        </section>
      </div>
    </section>
  </body>
</html>