<html>
  <head>
    <title>Iamages NSFW Toggle</title>
    <meta name="description" content="To comply with App Store requirements, this website allows you to enable NSFW viewing for your Iamages account.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#F1965B">
    <link rel="icon" type="image/png" href="{{ url_for('static', path='/icons/iamages-icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bulma.min.css') }}">
  </head>
  <body>
    <section class="hero is-fullheight">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="{{ url_for('nsfw_toggle') }}">
                <img src="{{ url_for('static', path='/icons/iamages-icon.png') }}" width="28" height="28">
              </a>
              <a class="navbar-item" href="{{ url_for('nsfw_toggle') }}">
                NSFW Toggle
              </a>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-centered is-vcentered">
            <div class="column is-half">
              <form action="{{ url_for('nsfw_toggled') }}" method="post">
                <div class="field">
                  <p class="control">
                    <input class="input" type="text" placeholder="Username" name="username">
                  </p>
                </div>
                <div class="field">
                  <p class="control">
                    <input class="input" type="password" placeholder="Password" name="password">
                  </p>
                </div>
                <div class="field">
                  <p class="control">
                    <button class="button is-success" type="submit">
                      Login & toggle
                    </button>
                  </p>
                </div>
              </form>
              <a href="{{ url_for('nsfw_info') }}" target="_blank">Why am I here?</a>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot">
        <section class="section">
          <div class="container has-text-centered content">
            <p>
              By using this service, you agree to our <a href="{{ url_for('tos') }}" target="_blank">Terms of Service</a> and 
              <a href="{{ url_for('privacy') }}" target="_blank">Privacy Policy</a>
            </p>
          </div>
        </section>
      </div>
    </section>
  </body>
</html>