<!DOCTYPE html>
<html>
  <head>
    <meta type="charset" value="utf-8">
    <title>Iamages API Reference</title>
    <meta type="description" content="Reference for Iamages API.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bulma.min.css') }}">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <figure class="image is-48x48">
          <img src="{{ url_for('static', path='/icons/iamages-icon.png') }}">
        </figure>
        <br>
      </div>
      <div class="container content">
        <h1>Iamages API Reference</h1>
      </div>
      <hr>
      <div class="container content">
        <h3>Important notes</h3>
        <p>
          Thank you for considering Iamages. We hope you can find this service useful for your needs.
          <br>
          That said, before we begin developing with the Iamages platform, we'd like you to be aware of a few things:
        </p>
        <ul>
          <li>
            We only support images with mime types:
            <ul>
              {% for supported_filemime in supported_filemimes %}
              <li>
                <code>{{ supported_filemime }}</code>
              </li>
              {% endfor %}
            </ul>
            Any other images uploaded will be rejected.
          </li>
          <li>
            By using Iamages' API or related services, you hereby agree to the <a href="/iamages/api/private/tos">Terms of Service</a> and <a href="/iamages/api/private/privacy">Privacy Policy.</a> 
          </li>
          <li>
            If methods return response code <code>500</code>, please contact this instance's owner: 
            <br>
            <a href="{{ owner['contact'] }}" class="button is-link">contact {{ owner['name'] }}</a>
          </li>
        </ul>
      </div>
      <hr>
      <div class="container content">
        <h3>API endpoints</h3>
        <ul>
          <li>
            <a href="#root">/iamages/api</a>
          </li>
          <li>
            <a href="#root-latest">/iamages/api/latest</a>
          </li>
          <li>
            <a href="#root-random">/iamages/api/random</a>
          </li>
          <li>
            <a href="#root-upload">/iamages/api/upload</a>
          </li>
          <li>
            <a href="#root-modify">/iamages/api/modify</a>
          </li>
          <li>
            <a href="#root-info">/iamages/api/info/(FileID: int)</a>
          </li>
          <li>
            <a href="#root-infos">/iamages/api/infos</a>
          </li>
          <li>
            <a href="#root-embed">/iamages/api/embed/(FileID: int)</a>
          </li>
          <li>
            <a href="#root-img">/iamages/api/img/(FileID: int)</a>
          </li>
          <li>
            <a href="#root-thumb">/iamages/api/thumb/(FileID: int)</a>
          </li>
          <li>
            <a href="#root-search">/iamages/api/search</a>
          </li>
          <li>
            <a href="#root-user-info">/iamages/api/user/info</a>
          </li>
          <li>
            <a href="#root-user-files">/iamages/api/user/files</a>
          </li>
          <li>
            <a href="#root-user-modify">/iamages/api/user/modify</a>
          </li>
          <li>
            <a href="#root-user-new">/iamages/api/user/new</a>
          </li>
          <li>
            <a href="#root-user-check">/iamages/api/user/check</a>
          </li>
        </ul>
      </div>
      <hr>
      <div id="root" class="container content">
        <h3>GET /iamages/api</h3>
        <p>
          Renders this API help page.
        </p>
      </div>
      <hr>
      <div id="root-latest" class="container content">
        <h3>GET /iamages/api/latest</h3>
        <p>
          Returns the latest 10 files.
        </p>
        <h4>Response (JSON)</h4>
        <pre>
          <code>
            {
              "FileIDs": [1, 2, 3, 4, ...]
            }
          </code>
        </pre>
        <h4>Glossary (Response)</h4>
        <ul>
          <li>
            <code>FileIDs</code> (<code>list</code>): An array containing the FileID of 10 latest files.
          </li>
        </ul>
        <h4>Response codes</h4>
        <ul>
          <li>
            <code>200</code>: Request completed successfully.
          </li>
        </ul>
      </div>
      <hr>
      <div id="root-random" class="container content">
        <h3>GET /iamages/api/random</h3>
        <p>
          Redirects to a random working <code>/iamages/api/info/(FileID: int)</code>.
        </p>
        <h4>Response codes</h4>
        <ul>
          <li>
            <code>307</code>: Redirect to a random file at <a href="#root-info">/iamages/api/info/(FileID: int)</a>.
          </li>
          <li>
            <code>503</code>: No compatible files could be found.
          </li>
        </ul>
      </div>
      <hr>
      <div id="root-upload" class="container content">
        <h3>PUT /iamages/api/upload</h3>
        <p>
          Uploads a file to Iamages.
        </p>
        <h4>Request (JSON)</h4>
        <pre>
          <code>
            {
              "UserName": "",
              "UserPassword": "",
              "FileDescription": "",
              "FileNSFW": false,
              "FilePrivate": false,
              "FileExcludeSearch": false,
              "FileData": "",
              
            }
          </code>
        </pre>
        <h4>Glossary (Request)</h4>
        <ul>
          <li>
            <code>UserName</code> (<code>str</code>): The file owner's username (optional).
          </li>
          <li>
            <code>UserPassword</code> (<code>str</code>): The file owner's password (optional).
          </li>
          <li>
            <code>FileDescription</code> (<code>str</code>): The file's description.
          </li>
          <li>
            <code>FileNSFW</code> (<code>bool</code>): The file's NSFW flag.
          </li>
          <li>
            <code>FilePrivate</code> (<code>bool</code>): The file's Private flag (will only be applied with <code>UserName</code> and <code>UserPassword</code>)
          </li>
          <li>
            <code>FileExcludeSearch</code> (<code>bool</code>): The file's exclude from search flag.
          </li>
          <li>
            <code>FileData</code> (<code>str</code>): The file's data, encoded in a <code>base64</code> string with the file type header stripped.
          </li>
        </ul>
        <h4>Response (JSON)</h4>
        <pre>
          <code>
            {
              "FileID": ""
            }
          </code>
        </pre>
        <h4>Glossary (Response)</h4>
        <ul>
          <li>
            <code>FileID</code> (<code>int</code>): The file's unique ID.
          </li>
        </ul>
        <h4>Response codes</h4>
        <ul>
          <li>
            <code>200</code>: Request completed successfully.
          </li>
          <li>
            <code>400</code>: Missing/malformed request data.
          </li>
          <li>
            <code>401</code>: User authentication failed.
          </li>
          <li>
            <code>413</code>: The file's size exceeds the server's configured maximum file size value.
          </li>
          <li>
            <code>415</code>: The file's MIME type is not supported.
          </li>
        </ul>
      </div>
      <hr>
      <div id="root-modify" class="container content">
        <h3>PATCH /iamages/api/modify</h3>
        <p>
          Modify file metadata or delete file.
        </p>
        <h4>Request (JSON)</h4>
        <pre>
          <code>
            {
              "UserName": "",
              "UserPassword": "",
              "FileID": 0,
              "Modifications": {
                "FileDescription": "",
                "FileNSFW": false,
                "FilePrivate": false,
                "FileExcludeSearch": false,
                "DeleteFile": any
              }
            }
          </code>
        </pre>
        <h4>Glossary (Request)</h4>
        <ul>
          <li>
            <code>UserName</code> (<code>str</code>): The file owner's username.
          </li>
          <li>
            <code>UserPassword</code> (<code>str</code>): The file owner's password.
          </li>
          <li>
            <code>FileID</code> (<code>int</code>): The file's unique ID.
          </li>
          <li>
            <code>Modifications</code> (<code>dict</code>): Modifications to apply to the file.
            <ul>
              <li>
                <code>FileDescription</code> (<code>str</code>): The file's description.
              </li>
              <li>
                <code>FileNSFW</code> (<code>bool</code>): The file's NSFW flag.
              </li>
              <li>
                <code>FileExcludeSearch</code> (<code>bool</code>): The file's exclude from search flag.
              </li>
              <li>
                <code>FilePrivate</code> (<code>bool</code>): The file's Private flag.
              </li>
              <li>
                <code>DeleteFile</code> (<code>any</code>): Set to anything to delete file.
              </li>
            </ul>
          </li>
        </ul>
        <h4>Response (JSON)</h4>
        <pre>
          <code>
            {
              "FileID": 0,
              "Modifications": []
            }
          </code>
        </pre>
        <h4>Glossary (Response)</h4>
        <ul>
          <li>
            <code>FileID</code> (<code>int</code>): The file's unique ID.
          </li>
          <li>
            <code>Modifications</code> (<code>list</code>): Modifications applied to the file.
          </li>
        </ul>
        <h4>Response codes</h4>
        <ul>
          <li>
            <code>200</code>: Request completed successfully.
          </li>
          <li>
            <code>400</code>: Missing/malformed request data.
          </li>
          <li>
            <code>401</code>: User authentication failed.
          </li>
          <li>
            <code>404</code>: The given file could not be found.
          </li>
        </ul>
      </div>
      <hr>
      <div id="root-info" class="container content">
        <h3>GET /iamages/api/info/(FileID: int)</h3>
        <p>
          Returns all publicly available metadata about the given file.
          <br>
          If you have the user's <code>UserName</code> and <code>UserPassword</code>, add the <i>Request (header)</i> in.
        </p>
        <h4>Request (URL argument)</h4>
        <pre>
          <code>/iamages/api/info/(FileID)</code>
        </pre>
        <h4>Request (header)</h4>
        <pre>
          <code>Authorization: Basic b64encode(UserName:UserPassword)</code>
        </pre>
        <h4>Glossary (Request)</h4>
        <ul>
          <li>
            <code>FileID</code> (<code>int</code>): The file's unique ID.
          </li>
          <li>
            <code>b64encode(UserName:UserPassword)</code> (<code>str</code>): The file owner's username and password in <code>UserName:Password</code> format, encoded with <code>base64</code> using <code>utf-8</code> encoding.
          </li>
        </ul>
        <h4>Response (JSON)</h4>
        <pre>
          <code>
            {
              "FileID": 0,
              "FileDescription": "",
              "FileNSFW": false,
              "FilePrivate": false,
              "FileMime": "",
              "FileWidth": 0,
              "FileHeight": 0,
              "FileCreatedDate": "",
              "FileExcludeSearch: false
            }
          </code>
        </pre>
        <h4>Glossary (Response)</h4>
        <ul>
          <li>
            <code>FileDescription</code> (<code>str</code>): The file's description.
          </li>
          <li>
            <code>FileNSFW</code> (<code>bool</code>): The file's NSFW flag.
          </li>
          <li>
            <code>FilePrivate</code> (<code>bool</code>): The file's Private flag.
          <li>
            <code>FileMime</code> (<code>str</code>): The file's MIME data.
          </li>
          <li>
            <code>FileWidth</code> (<code>int</code>): The file's width.
          </li>
          <li>
            <code>FileHeight</code> (<code>int</code>): The file's height.
          </li>
          <li>
            <code>FileCreatedDate</code> (<code>str</code>): The file's date of creation in ISO8601 format (UTC time).
          </li>
          <li>
            <code>FileExcludeSearch</code> (<code>bool</code>): The file's exclude from search flag.
          </li>
        </ul>
        <h4>Response codes</h4>
        <ul>
          <li>
            <code>200</code>: Request completed successfully.
          </li>
          <li>
            <code>400</code>: Missing/malformed request data.
          </li>
          <li>
            <code>401</code>: User authentication failed.
          </li>
          <li>
            <code>404</code>: The given file could not be found.
          </li>
        </ul>
      </div>
      <hr>
      <div id="root-infos" class="container content">
        <h3>POST /iamages/api/infos</h3>
        <p>
          Returns all publicly available metadata about the given files.
        </p>
        <h4>Request (JSON)</h4>
        <pre>
          <code>
            {
              "UserName": "",
              "UserPassword": "",
              "FileIDs": [1, 2, 3, 4, ...]
            }
          </code>
        </pre>
        <h4>Glossary (Request)</h4>
        <ul>
          <li>
            <code>UserName</code> (<code>str</code>): An user's username (optional). 
          </li>
          <li>
            <code>UserPassword</code> (<code>str</code>): An user's password (optional).
          </li>
          <li>
            <code>FileIDs</code> (<code>list</code>): A list of unique <code>FileID</code>s.
          </li>
        </ul>
        <h4>Response (JSON)</h4>
        <pre>
          <code>
            [
              {
                "FileID": 0,
                "FileDescription": "",
                "FileNSFW": false,
                "FilePrivate": false,
                "FileMime": "",
                "FileWidth": 0,
                "FileHeight": 0,
                "FileCreatedDate": "",
                "FileExcludeSearch: false
              },
              {
                "FileID": 1,
                "FileDescription": "",
                "FileNSFW": false,
                "FilePrivate": false,
                "FileMime": "",
                "FileWidth": 0,
                "FileHeight": 0,
                "FileCreatedDate": "",
                "FileExcludeSearch: false
              },
              ...
            ]
          </code>
        </pre>
        <h4>Glossary (Response)</h4>
        <p>
          A list of <a href="#root-info">/iamages/api/info/(FileID: int)</a> responses.
        </p>
        <h4>Response codes</h4>
        <ul>
          <li>
            <code>200</code>: Request completed successfully.
          </li>
        </ul>
      </div>
      <hr>
      <div id="root-embed" class="container content">
        <h3>GET /iamages/api/embed/(FileID: int)</h3>
        <p>
          Provides an Open Graph-compatible embed and preview page link.
        </p>
        <h4>Request (URL argument)</h4>
        <pre>
          <code>/iamages/api/embed/(FileID)</code>
        </pre>
        <h4>Glossary (Request)</h4>
        <ul>
          <li>
            <code>FileID</code> (<code>int</code>): The file's unique ID.
          </li>
        </ul>
        <h4>Response (HTML)</h4>
        <p>
          Refer to the <a href="https://ogp.me/">Open Graph</a> and <a href="https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup">Twitter Cards</a> documentation for more information.
        </p>
        <h4>Response codes</h4>
        <ul>
          <li>
            <code>200</code>: Request completed successfully.
          </li>
          <li>
            <code>400</code>: Missing/malformed request data.
          </li>
          <li>
            <code>401</code>: Private file, requires authentication.
          </li>
          <li>
            <code>404</code>: The given file could not be found.
          </li>
        </ul>
      </div>
      <hr>
      <div id="root-img" class="container content">
        <h3>GET /iamages/api/img/(FileID: int)</h3>
        <p>
          Returns an image for the given file.
          <br>
          If you have the user's username and password, add the <i>Request (header)</i> in.
        </p>
        <h4>Request (URL argument)</h4>
        <pre>
          <code>/iamages/api/img/(FileID)</code>
        </pre>
        <h4>Request (header)</h4>
        <pre>
          <code>Authorization: Basic b64encode(UserName:UserPassword)</code>
        </pre>
        <h4>Glossary (Request)</h4>
        <ul>
          <li>
            <code>FileID</code> (<code>int</code>): The file's unique ID.
          </li>
          <li>
            <code>b64encode(UserName:UserPassword)</code> (<code>str</code>): The file owner's username and password in <code>UserName:Password</code> format, encoded with <code>base64</code> using <code>utf-8</code> encoding.
          </li>
        </ul>
        <h4>Response (raw image)</h4>
        <p>
          Literally a raw image file. 
          <br>
          The <code>Content-Type</code> header will be set to the file's <code>FileMime</code>.
        </p>
        <h4>Response codes</h4>
        <ul>
          <li>
            <code>200</code>: Request completed successfully.
          </li>
          <li>
            <code>400</code>: Missing/malformed request data.
          </li>
          <li>
            <code>401</code>: Private file, requires authentication.
          </li>
          <li>
            <code>404</code>: The given file could not be found.
          </li>
        </ul>
      </div>
      <hr>
      <div id="root-thumb" class="container content">
        <h3>GET /iamages/api/thumb/(FileID: int)</h3>
        <p>
          Returns a thumbnail of the image for the given file.
          <br>
          If you have the user's username and password, add the <i>Request (header)</i> in.
        </p>
        <h4>Request (URL argument)</h4>
        <pre>
          <code>/iamages/api/thumb/(FileID)</code>
        </pre>
        <h4>Request (header)</h4>
        <pre>
          <code>Authorization: Basic b64encode(UserName:UserPassword)</code>
        </pre>
        <h4>Glossary (Request)</h4>
        <ul>
          <li>
            <code>FileID</code> (<code>int</code>): The file's unique ID.
          </li>
          <li>
            <code>b64encode(UserName:UserPassword)</code> (<code>str</code>): The file owner's username and password in <code>UserName:Password</code> format, encoded with <code>base64</code> using <code>utf-8</code> encoding.
          </li>
        </ul>
        <h4>Response (raw image)</h4>
        <p>
          Literally a raw image file (that is thumbnail-sized).
          <br>
          The <code>Content-Type</code> header will be set to the file's <code>FileMime</code>.
        </p>
        <h4>Response codes</h4>
        <ul>
          <li>
            <code>200</code>: Request completed successfully.
          </li>
          <li>
            <code>400</code>: Missing/malformed request data.
          </li>
          <li>
            <code>401</code>: Private file, requires authentication.
          </li>
          <li>
            <code>404</code>: The given file could not be found.
          </li>
        </ul>
      </div>
      <hr>
      <div id="root-search" class="container content">
        <h3>POST /iamages/api/search</h3>
        <p>
          Searches for similar matches to the given search string.
        </p>
        <h4>Request (JSON)</h4>
        <pre>
          <code>
            {
              "UserName": "",
              "UserPassword": "",
              "FileDescription": ""
            }
          </code>
        </pre>
        <h4>Glossary (Request)</h4>
        <ul>
          <li>
            <code>UserName</code> (<code>str</code>): The files owner's username (optional).
          </li>
          <li>
            <code>UserPassword</code> (<code>str</code>): The files owner's password (optional).
          </li>
          <li>
            <code>FileDescription</code> (<code>str</code>): The search string to be used.
          </li>
        </ul>
        <h4>Response (JSON)</h4>
        <pre>
          <code>
            {
              "FileDescription": "",
              "FileIDs": []
            }
          </code>
        </pre>
        <h4>Glossary (Response)</h4>
        <ul>
          <li>
            <code>FileDescription</code> (<code>str</code>): The search string used.
          </li>
          <li>
            <code>FileIDs</code> (<code>list</code>): A list of <code>FileID</code>s that may match the search string.
          </li>
        </ul>
        <h4>Response codes</h4>
        <ul>
          <li>
            <code>200</code>: Request completed successfully.
          </li>
          <li>
            <code>400</code>: Missing/malformed request data.
          </li>
        </ul>
      </div>
      <hr>
      <div id="root-user-info" class="container content">
        <h3>POST /iamages/api/user/info</h3>
        <p>
          Returns the information of a given user.
        </p>
        <h4>Request (JSON)</h4>
        <pre>
          <code>
            {
              "UserName": ""
            }
          </code>
        </pre>
        <h4>Glossary (Request)</h4>
        <ul>
          <li>
            <code>UserName</code> (<code>str</code>): The user's username.
          </li>
        </ul>
        <h4>Response (JSON)</h4>
        <pre>
          <code>
            {
              "UserName": "",
              "UserInformation": {
                "UserBiography": "",
                "UserCreatedDate": ""
              }
            }
          </code>
        </pre>
        <h4>Glossary (Response)</h4>
        <ul>
          <li>
            <code>UserName</code> (<code>str/None</code>): The used user's username.
          </li>
          <li>
            <code>UserInformation</code> (<code>dict</code>): The user's information.
            <ul>
              <li>
                <code>UserBiography</code> (<code>str</code>): The user's biography.
              </li>
              <li>
                <code>UserCreatedDate</code> (<code>str</code>): The user's date of creation in ISO8601 format (UTC time).
              </li>
            </ul>
          </li>
        </ul>
        <h4>Response codes</h4>
        <ul>
          <li>
            <code>200</code>: Request completed successfully.
          </li>
          <li>
            <code>400</code>: Missing/malformed request data.
          </li>
          <li>
            <code>404</code>: The given user could not be found.
          </li>
        </ul>
      </div>
      <hr>
      <div id="root-user-files" class="container content">
        <h3>POST /iamages/api/user/files</h3>
        <p>
          Returns the files belonging to a given user.
        </p>
        <h4>Request (JSON)</h4>
        <pre>
          <code>
            {
              "UserName": "",
              "UserPassword": ""
            }
          </code>
        </pre>
        <h4>Glossary (Request)</h4>
        <ul>
          <li>
            <code>UserName</code> (<code>str</code>): The files owner's username.
          </li>
          <li>
            <code>UserPassword</code> (<code>str</code>): The files owner's password.
          </li>
        </ul>
        <h4>Response (JSON)</h4>
        <pre>
          <code>
            {
              "UserName": "",
              "FileIDs": []
            }
          </code>
        </pre>
        <h4>Glossary (Response)</h4>
        <ul>
          <li>
            <code>UserName</code> (<code>str/None</code>): The files owner's username.
          </li>
          <li>
            <code>FileIDs</code> (<code>list</code>): A list of <code>FileID</code>s that belong to the user.
          </li>
        </ul>
        <h4>Response codes</h4>
        <ul>
          <li>
            <code>200</code>: Request completed successfully.
          </li>
          <li>
            <code>400</code>: Missing/malformed request data.
          </li>
          <li>
            <code>401</code>: User authentication failed.
          </li>
        </ul>
      </div>
      <hr>
      <div id="root-user-modify" class="container content">
        <h3>PATCH /iamages/api/user/modify</h3>
        <p>
          Modify the given user's information or delete the user.
        </p>
        <h4>Request (JSON)</h4>
        <pre>
          <code>
            {
              "UserName": "",
              "UserPassword": "",
              "Modifications": {
                "UserBiography": "",
                "UserPassword": "",
                "DeleteUser": true
              }
            }
          </code>
        </pre>
        <h4>Glossary (Request)</h4>
        <ul>
          <li>
            <code>UserName</code> (<code>str</code>): The user's username.
          </li>
          <li>
            <code>UserPassword</code> (<code>str</code>): The user's password.
          </li>
          <li>
            <code>Modifications</code> (<code>dict</code>): Modifications to apply to the user.
            <ul>
              <li>
                <code>UserBiography</code> (<code>str</code>): The user's new biography.
              </li>
              <li>
                <code>UserPassword</code> (<code>bool</code>): The user's new password.
              </li>
              <li>
                <code>DeleteUser</code> (<code>any</code>): Set to anything to delete user.
              </li>
            </ul>
          </li>
        </ul>
        <h4>Response (JSON)</h4>
        <pre>
          <code>
            {
              "UserName": "",
              "Modifications": []
            }
          </code>
        </pre>
        <h4>Glossary (Response)</h4>
        <ul>
          <li>
            <code>UserName</code> (<code>int/None</code>): The user's username.
          </li>
          <li>
            <code>Modifications</code> (<code>list</code>): Modifications applied to the user.
          </li>
        </ul>
        <h4>Response codes</h4>
        <ul>
          <li>
            <code>200</code>: Request completed successfully.
          </li>
          <li>
            <code>400</code>: Missing/malformed request data.
          </li>
          <li>
            <code>401</code>: User authentication failed.
          </li>
        </ul>
      </div>
      <hr>
      <div id="root-user-new" class="container content">
        <h3>PUT /iamages/api/user/new</h3>
        <p>
          Create a new user on Iamages.
        </p>
        <h4>Request (JSON)</h4>
        <pre>
          <code>
            {
              "UserName": "",
              "UserPassword": ""
            }
          </code>
        </pre>
        <h4>Glossary (Request)</h4>
        <ul>
          <li>
            <code>UserName</code> (<code>str</code>): The new user's username.
          </li>
          <li>
            <code>UserPassword</code> (<code>str</code>): The new user's password.
          </li>
        </ul>
        <h4>Response (JSON)</h4>
        <pre>
          <code>
            {
              "UserName": ""
            }
          </code>
        </pre>
        <h4>Glossary (Response)</h4>
        <ul>
          <li>
            <code>UserName</code> (<code>str/None</code>): The created user's username.
          </li>
        </ul>
        <h4>Response codes</h4>
        <ul>
          <li>
            <code>200</code>: Request completed successfully.
          </li>
          <li>
            <code>400</code>: Missing/malformed request data.
          </li>
          <li>
            <code>403</code>: Could not create the new user (user may have already signed up).
          </li>
        </ul>
      </div>
      <hr>
      <div id="root-user-check" class="container content">
        <h3>POST /iamages/api/user/check</h3>
        <p>
          Validates a given user exists on Iamages.
        </p>
        <h4>Request (JSON)</h4>
        <pre>
          <code>
            {
              "UserName": "",
              "UserPassword": ""
            }
          </code>
        </pre>
        <h4>Glossary (Request)</h4>
        <ul>
          <li>
            <code>UserName</code> (<code>str</code>): The user's username.
          </li>
          <li>
            <code>UserPassword</code> (<code>str</code>): The user's password.
          </li>
        </ul>
        <h4>Response (JSON)</h4>
        <pre>
          <code>
            {
              "UserName": ""
            }
          </code>
        </pre>
        <h4>Glossary (Response)</h4>
        <ul>
          <li>
            <code>UserName</code> (<code>str/None</code>): The user's username.
          </li>
        </ul>
        <h4>Response codes</h4>
        <ul>
          <li>
            <code>200</code>: Request completed successfully.
          </li>
          <li>
            <code>400</code>: Missing/malformed request data.
          </li>
          <li>
            <code>401</code>: User authentication failed.
          </li>
        </ul>
      </div>
      <hr>
      <p>
        The documentation is provided as-is and is subject to change without notice. 
        You're advised to watch the relevant developer channels for the latest information.
      </p>
    </section>
  </body>
</html>