<!DOCTYPE html>
<html>
  <head>
    <meta type="charset" value="utf-8">
    <title>Iamages Privacy Policy</title>
    <meta type="description" content="Iamages Privacy Policy.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/iamages/api/private/static/css/bulma.min.css">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <figure class="image is-48x48">
          <img src="/iamages/api/private/static/icons/icon-96.png">
        </figure>
        <br>
      </div>
      <div class="container content">
        <h1>Privacy Policy</h1>
        <p>
          To be constructed...
        </p>
      </div>
    </section>
  </body>
</html>